certifi  # https://github.com/certifi/python-certifi
cftime  # https://unidata.github.io/cftime/
chardet # https://chardet.readthedocs.io/en/latest/
idna    # https://github.com/kjd/idna
netCDF4==1.6.4  # https://unidata.github.io/netcdf4-python/
numpy   # https://numpy.org/doc/stable/index.html
requests    # https://requests.readthedocs.io/en/master/
